apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "apiwatch.fullname" . }}
  labels:
    {{- include "apiwatch.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "apiwatch.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "apiwatch.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secret.existingSecret | default (include "apiwatch.fullname" .) }}
                  key: database-url
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secret.existingSecret | default (include "apiwatch.fullname" .) }}
                  key: redis-url
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
